<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-buttons slot="start">
      <ion-button (click)="appClose()">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="refreshWebsocket()">
        <ion-icon size="large" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">{{app_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding" id="esp32_card" color="light">
    <ion-card-header>
      <ion-card-title
        ><ion-icon
          class="icon ion-ios-clock-outline ion-margin-horizontal"
          id="esp32_status"
          color="danger"
          name="radio-button-on-outline"
        ></ion-icon
        ><ion-label class="ion-margin-left">Pumpa</ion-label>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content
      ><ion-label id="esp32_alert" class="ion-padding-bottom"
        >{{ESP32_alert}}</ion-label
      >
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-padding" id="relay_card" hidden>
    <ion-card-header>
      <ion-card-title>Stikalo 1 </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Nastavljanje časovnih mej</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="ion-no-margin ion-no-padding">
            <ion-card
              class="ion-no-padding ion-margin-vertical"
              color="primary"
            >
              <ion-select
                #interval_1
                [(ngModel)]="sys_interface.time1"
                [value]="sys_interface.time1"
                okText="Potrdi"
                cancelText="Prekliči"
                (ionChange)="onTimeChanged(interval_1.value, interval_2.value, interval_3.value)"
              >
                <ion-select-option
                  *ngFor="let hour of sys_interface2.a0"
                  [value]="hour"
                  >{{hour}}:00</ion-select-option
                >
              </ion-select>
            </ion-card>
          </ion-col>
          <ion-label></ion-label>
          <ion-col size="4" class="ion-no-margin ion-no-padding">
            <ion-card
              class="ion-no-padding ion-margin-vertical"
              color="primary"
            >
              <ion-select
                #interval_2
                [(ngModel)]="sys_interface.time2"
                [value]="sys_interface.time2"
                okText="Potrdi"
                cancelText="Prekliči"
                (ionChange)="onTimeChanged(interval_1.value, interval_2.value, interval_3.value)"
              >
                <ion-select-option
                  *ngFor="let hour of sys_interface2.a1"
                  [value]="hour"
                  >{{hour}}:00</ion-select-option
                >
              </ion-select>
            </ion-card>
          </ion-col>
          <ion-col size="4" class="ion-no-margin ion-no-padding">
            <ion-card
              class="ion-no-padding ion-margin-vertical"
              color="primary"
            >
              <ion-select
                #interval_3
                [(ngModel)]="sys_interface.time3"
                [value]="sys_interface.time3"
                okText="Potrdi"
                cancelText="Prekliči"
                (ionChange)="onTimeChanged(interval_1.value, interval_2.value, interval_3.value)"
              >
                <ion-select-option
                  *ngFor="let hour of sys_interface2.a2"
                  [value]="hour"
                  >{{hour}}:00</ion-select-option
                >
              </ion-select>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card-content>
      <ion-label> Nastavljanje časa neaktivnosti </ion-label>
      <ion-card
        class="ion-padding ion-no-margin ion-margin-vertical ion-margin-right slider-card"
      >
        <ion-label class="ion-padding-bottom">
          <strong>Interval 1:</strong> ({{ interval_3.value }}:00 - {{
          interval_1.value }}:00)
        </ion-label>
        <ion-range
          [(ngModel)]="sys_interface.offTime1"
          min="0"
          max="15"
          [value]="sys_interface.offTime1"
          step="1"
          pin
          snaps="true"
          ><ion-label slot="start" size="small">0 min</ion-label>
          <ion-label slot="end" size="small">15 min</ion-label></ion-range
        >
      </ion-card>

      <ion-card
        class="ion-padding ion-no-margin ion-margin-vertical slider-card"
      >
        <ion-label class="ion-padding-bottom">
          <strong>Interval 2:</strong> ({{ interval_1.value }}:00 - {{
          interval_2.value }}:00)
        </ion-label>
        <ion-range
          [(ngModel)]="sys_interface.offTime2"
          min="0"
          max="15"
          [value]="sys_interface.offTime2"
          step="1"
          pin
          snaps="true"
          ><ion-label slot="start" size="small">0 min</ion-label>
          <ion-label slot="end" size="small">15 min</ion-label></ion-range
        >
      </ion-card>

      <ion-card
        class="ion-padding ion-no-margin ion-margin-vertical slider-card"
      >
        <ion-label class="ion-padding-bottom">
          <strong>Interval 3:</strong> ({{ interval_2.value }}:00 - {{
          interval_3.value }}:00)
        </ion-label>
        <ion-range
          [(ngModel)]="sys_interface.offTime3"
          min="0"
          max="15"
          [value]="sys_interface.offTime3"
          step="1"
          pin
          snaps="true"
          ><ion-label slot="start" size="small">0 min</ion-label>
          <ion-label slot="end" size="small">15 min</ion-label></ion-range
        >
      </ion-card>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Stikalo 2 </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nastavljanje časa aktivnosti
      <ion-card
        class="ion-padding ion-no-margin ion-margin-vertical slider-card"
      >
        <ion-range
          [(ngModel)]="sys_interface.offTime4"
          min="0"
          max="99"
          [value]="sys_interface.offTime4"
          step="1"
          pin
          snaps="true"
          ><ion-label slot="start" size="small">0 s</ion-label>
          <ion-label slot="end" size="small">99 s</ion-label></ion-range
        >
      </ion-card>
    </ion-card-content>
    <ion-label [ngClass]="(isSettingsOk) ? 'success' : 'fail'"
      >{{settings_alert}}</ion-label
    >
    <ion-button (click)="updateValues()" expand="full" class="ion-margin-bottom"
      >Potrdi</ion-button
    >
  </ion-card>
</ion-content>

<!-- TODO:
          - Testiraj če backbutton zapre aplikacijo na telefonu
          - Potrdi mora poslati povratno informacijo
          - DS3231 implementacija
          -
        -->
